@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

/*SEMPRE COLOCAR @import nas primeiras linhas após @charset*/

*{
    margin: 0px;
    padding:0px;
    font-size: 1em;
}

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Fascinate", system-ui;
    --font3: "Nothing You Could Do", cursive;

}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;   
    /*text-transform: uppercase; - para deixar as letras maiúsculas*/
    font-family: var(--font2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh; 
    /*aumentando a fonte, essas alterações de padding melhoram o efeito paralax*/
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 3em;
}

section.normal{
    background-color: whitesmoke;
    color: black;
}

section.imagem{
    background-color: rgb(125, 125, 125);
    color: whitesmoke;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}

section.imagem > p{
    display:inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.375);
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}